<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="wp.proj.movies">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="wp.proj.movies.common.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="wp.proj.movies.feature.tvshowlisting.TvShowListingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="wp.proj.movies.feature.tvshowdetails.TvShowDetailActivity"
            android:theme="@style/Theme.Transparent"/>

        <meta-data
            android:name="wp.proj.movies.common.GlideSetting"
            android:value="GlideModule"/>

    </application>

</manifest>